@charset "UTF-8";
@import "mixset.scss";

.only_mob {
    display: none;
}

.only_wide {
    display: block;
}

.mg_05 {
    margin: 0 0 5px 0 !important;
}

.brand {
    padding: 75px 55px;
    width: 920px;



    .intro {
        color: #444;

        h2 {
            font-family: "NotoSansBold";
            font-size: 28px;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 45px;


        }

        p {
            font-family: "NotoSansRegular";
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 50px;

            &:first-child {
                margin-bottom: 0px !important;
            }

            span {
                background: #e4e4e4;
            }
        }
    }

    .purpose {
        h3 {
            position: relative;
            font-family: "NotoSansBold";
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 10px;
            margin-left: 13px;


            &::before {
                position: absolute;
                content: "";
                top: 7px;
                left: -11px;
                width: 4px;
                height: 12px;
                background-color: #ec1b23;
            }
        }

        p {
            font-family: "NotoSansLight";
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -0.42px;
            text-align: left;
            color: #000;
            margin-top: 0;
            margin-bottom: 0;


        }

        .mgb_20 {
            margin-bottom: 20px !important;
        }
    }

    .brand_system {
        h3 {
            position: relative;
            font-family: "NotoSansBold";
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 10px;
            margin-left: 13px;


            &::before {
                position: absolute;
                content: "";
                top: 7px;
                left: -11px;
                width: 4px;
                height: 12px;
                background-color: #ec1b23;
            }
        }

        p {

            font-family: "NotoSansLight";
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -0.42px;
            text-align: left;
            color: #000;
            margin-top: 0;
            margin-bottom: 0;
        }

        .mgb_20 {
            margin-bottom: 15px !important;
        }

    }

    .corporate {
        img {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .direction {
        h3 {
            position: relative;
            font-family: "NotoSansBold";
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 15px;
            margin-left: 13px;

            &::before {
                position: absolute;
                content: "";
                top: 7px;
                left: -11px;
                width: 4px;
                height: 12px;
                background-color: #ec1b23;
            }
        }

        ul {
            margin: 0 0;
            padding: 0 0;
            list-style-type: none;
            font-size: 14px;

            li {

                h4 {

                    font-size: 14px;
                    font-family: "NotoSansRegular";
                    line-height: 1.5;
                    color: #444;
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-left: 0;

                }

                p {
                    font-family: "NotoSansLight";
                    font-size: 14px;
                    line-height: 1.5;
                    letter-spacing: -0.42px;
                    text-align: left;
                    color: #000;
                    margin-top: 0;
                    margin-bottom: 15px;
                    margin-left: 16px;

                }

                .no_rmargin {
                    padding-top: 10px;
                    margin-left: 0 !important;
                    margin-bottom: 20px;
                }

                .dir_img {
                    display: flex;
                    gap: 55px;


                    img {
                        min-width: 0;
                        width: 100%;
                        margin-bottom: 7px
                    }
                }

                .pd_top10 {
                    padding-top: 10px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .download {
        padding-top: 30px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-bottom: 60px;

        p {
            display: block;
            width: 180px;
            height: 30px;
            padding-top: 5px;
            border-radius: 60px;
            background-color: #c7c7c7;
            text-align: center;
            font-family: "NotoSansBold";
            color: #fff;
            font-size: 12px;
            margin: 0 auto;

            &:hover {
                background-color: #EC1B23;
            }
        }

        a {}
    }



}



/* 아이패드 가로 모드*/
@media screen and (max-width:1366px) {}


@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    .only_mob {
        display: block;
    }

    .only_wide {
        display: none;
    }

    .mg_05 {
        margin: 0 0 !important;
    }

    .bd_red {
        border: 1px solid #EC1B23 !important;
    }

    .bg_fff {
        background-color: #fff !important;
    }

    .font_red {
        color: #EC1B23 !important;
    }

    .content {
        padding-left: 0;
        padding-top: 0;
        position: relative;
        background-color: #fafafa;
    }

    .menu {
        display: none;
    }

    .side-menu {
        display: none;
    }

    .header {
        display: none;
    }

    .header {
        padding: 0 10px;
        height: auto;
        border-bottom: 0px solid #ec1b23;
        min-width: 0;



        h1 {
            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            margin-bottom: 36px;
            margin-top: 0;
            padding-top: 53px;

            //margin-bottom:9.6vw
        }

        .downloads {
            margin: 0 auto;
            width: 94.6vw;
            height: auto;
            border: 1px solid #BFBFBF;
            background-color: #FAFAFA;
            padding: 10.7vw 9.5vw;


            a {

                line-height: inherit;
                display: block;
                padding: 20px 0;
                width: auto;
                height: auto;
                border-radius: 59px;
                background-color: #EC1B23;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: 0;
                font-family: "NotoSansBold";
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.03em;
                text-align: center;
                color: #FFF;
                background-image: none !important;



                &:last-child {
                    margin-bottom: 0;
                }

            }

            .file_download {
                p {
                    position: relative;
                    display: inline-block;
                    margin: 0 0;
                    transform: translateX(14px);


                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/CI_01.png);
                        top: 0px;
                        left: -30px;

                    }
                }
            }

            .font_download {
                p {
                    position: relative;
                    display: inline-block;
                    margin: 0 0;
                    transform: translateX(14px);

                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/CI_02.png);
                        top: 0;
                        left: -30px;

                    }
                }
            }

            .ci_download {
                padding: 20px 0 !important;
                height: auto !important;
                margin-top: 0 !important;
                margin-bottom: 10px !important;
                margin-left: auto !important;
                margin-right: 0 !important;
                line-height: 20px !important;
                border-radius: 59px !important;
                background-color: #ffffff !important;
                display: block !important;
                color: #ec1b23 !important;
                border: 1px solid #ec1b23 !important;
                letter-spacing: -0.03em !important;
                background-image: none !important;

                p {
                    position: relative;
                    display: inline-block;
                    margin: 0 0;
                    transform: translateX(14px);

                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/CI_03.png);
                        top: 0;
                        left: -30px;
                    }
                }

            }

        }
    }


    .organ {
        .current_page {
            background-color: #ec1b23 !important;
        }

        background-color: #fafafa;
        padding: 0 10px;

        h1 {

            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            padding-top: 53px;
            margin-bottom: 37px;
            margin-top: 0;
        }




        .organ_ul {
            list-style: none;
            padding: 0 0;


            .organ_box {
                border: solid 1px #bfbfbf;
                margin-bottom: 20px;
                background: #fff;

                li {
                    padding: 14px 8.5vw;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #eee;


                    p {

                        font-size: 14px;
                        margin-top: 6px;
                        margin-bottom: 6px;

                    }

                    .organ_button {
                        font-family: "NanumBarunGothicRegular";
                        font-size: 14px;
                        flex-grow: 0;
                        margin: 0 0;
                        padding: 8px 30px;
                        background-color: #c7c7c7;
                        color: #fff;


                    }
                }
            }

            li {
                padding: 14px 8.5vw;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #eee;


                p {
                    font-size: 14px;
                    margin-top: 6px;
                    margin-bottom: 6px;
                }

                .organ_button {
                    font-family: "NanumBarunGothicRegular";
                    font-size: 14px;
                    flex-grow: 0;
                    margin: 0 0;
                    padding: 8px 30px;
                    background-color: #c7c7c7;
                    color: #fff;


                }
            }
        }
    }

    .tab-menu {
        height: auto !important;
        background-color: #fafafa;
        padding: 0 10px;
        position: static !important;
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100vw;

        .two_line {
            padding: 4px 0 !important;

        }

        h1 {
            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            padding-top: 53px;
            margin-bottom: 34px;
            margin-top: 0;
        }



        .current_page {
            position: relative;
            background-color: #ec1b23 !important;
            color: #fff !important;


            &::before {
                position: absolute;
                content: "";
                bottom: -5px;
                left: calc(50% - 6.3px);
                width: 9px;
                height: 9px;
                background-color: #fafafa;
                transform: rotate(-45deg);

            }
        }

        ul {
            margin-bottom: 60px;
            padding: 0 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            font-family: "NotoSansRegular";
            font-size: 14px;
            gap: 1%;
            height: auto !important;
            white-space: wrap !important;
            background-color: transparent !important;
            border-bottom: 0px solid #eee !important;


            li {
                padding: 11px 0;
                width: calc(50% - 5px);
                background-color: #fff;
                color: #8f8f8f;
                border: solid 1px #e7e7e7;
                line-height: 1.21;
                margin-right: 0 !important;
                margin-bottom: 1%;
                ;

                a {
                    padding: 0 10px !important;
                }
            }
        }


    }

    .brand {
        padding: 0 10px;
        width: 100vw;

        .intro {
            color: #000;

            h2 {
                font-family: "NotoSansBold";
                font-size: 22px;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 2px;

            }

            p {
                font-family: "NotoSansRegular";
                font-size: 14px;
                margin-top: 0;
                margin-bottom: 40px;

                span {
                    background: transparent;
                }
            }

        }

        .purpose {
            h3 {
                position: relative;
                font-family: "NotoSansBold";
                font-size: 18px;
                margin-top: 0;
                margin-left: 13px;
                margin-bottom: 10px;


                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: -11px;
                    width: 4px;
                    height: 18px;
                    background-color: #ec1b23;
                }
            }

            p {
                font-family: "NotoSansLight";
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: -0.42px;
                text-align: left;
                color: #000;
                margin-top: 0;

                margin-bottom: 0px;


            }

            .mgb_20 {
                margin-bottom: 20px !important;
            }
        }

        .brand_system {
            h3 {
                position: relative;
                font-family: "NotoSansBold";
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 13px;


                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: -11px;
                    width: 4px;
                    height: 18px;
                    background-color: #ec1b23;
                }
            }

            p {

                font-family: "NotoSansLight";
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: -0.42px;
                text-align: left;
                color: #000;
                margin-top: 0;
                margin-bottom: 0;

                .mgb_20 {
                    margin-bottom: 20px;
                }
            }
        }

        .corporate {
            img {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .direction {
            h3 {
                position: relative;
                font-family: "NotoSansBold";
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 13px;

                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: -11px;
                    width: 4px;
                    height: 18px;
                    background-color: #ec1b23;
                }
            }

            ul {
                margin: 0 0;
                padding: 0 0;
                list-style-type: none;
                font-size: 14px;

                li {
                    h4 {

                        font-size: 14px;
                        font-family: "NotoSansRegular";
                        line-height: 1.3;
                        color: #000;
                        margin-top: 0;
                        margin-right: 0;
                        margin-bottom: 10px;
                        margin-left: 0;

                    }

                    p {
                        font-family: "NotoSansLight";
                        font-size: 14px;
                        line-height: 1.5;
                        letter-spacing: -0.42px;
                        text-align: left;
                        color: #000;
                        margin-top: 0;
                        margin-bottom: 10px;
                        margin-left: 16px;

                    }

                    .no_rmargin {
                        padding-top: 10px;
                        margin-left: 0 !important;
                        margin-bottom: 20px;
                    }

                    .dir_img {
                        display: flex;
                        gap: 0;
                        flex-direction: column;

                        img {

                            width: 100%;
                            margin-bottom: 7px
                        }
                    }

                    .pd_top10 {
                        padding-top: 10px;
                    }
                }

                img {

                    width: 100%;
                    margin-bottom: 7px
                }
            }
        }

        .download {
            padding-top: 50px;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-bottom: 70px;

            p {
                display: block;
                width: 282px;
                height: 60px;
                padding-top: 20px;
                border-radius: 60px;
                background-color: #c7c7c7;
                text-align: center;
                font-family: "NotoSansBold";
                color: #fff;
                font-size: 14px;
                margin: 0 auto;

                &:hover {
                    background-color: #EC1B23;
                }
            }

            a {}
        }
    }

    .row>* {
        float: unset !important;


    }

    .row>.clearfix {
        clear: unset !important;
        height: auto !important;
        overflow: unset !important;
        float: unset !important;
    }

    .basic_sys {

        padding: 0 10px;

        .down_button {
            padding-top: 50px;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-bottom: 70px;

            p {
                display: block;
                width: 282px;
                height: 60px;
                padding-top: 20px;
                border-radius: 60px;
                background-color: #c7c7c7;
                text-align: center;
                font-family: "NotoSansBold";
                color: #fff;
                font-size: 14px;
                margin: 0 auto;

                &:hover {
                    background-color: #EC1B23;
                }
            }

            a {}
        }

        .list {


            display: flex;
            padding: 0 0;
            flex-wrap: wrap;
            gap: 15px;

            input {}

            .item {
                padding: 0 0;
                width: 170px;

                margin-bottom: 30px;

                label {
                    font-size: 14px;
                    position: absolute;
                    top: -23px;
                    right: 0px;
                    left: 0px;
                    cursor: pointer;
                    padding-right: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    div {}

                    input {
                        position: absolute;
                        right: 0px;
                        top: 0;
                    }
                }

                .thumb {
                    width: 170px;
                    height: 170px;
                    padding-top: 100%;
                    overflow: hidden;
                    position: relative;
                    background-color: #fff;
                    border: 1px solid #eee;


                    img {
                        width: 170px;
                        height: 170px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .download {
                    margin-top: 15px;
                    display: flex;

                    div {
                        flex: 1;
                        padding: 0 5px;


                        &:first-child {

                            padding-left: 0;
                        }

                        &:last-child {

                            padding-right: 0;
                        }
                    }

                }

                .type3 {}


            }
        }
    }
}

@media screen and (max-width:768px) {
    .tab-menu {
        height: auto !important;
        background-color: #fafafa;
        padding: 0 10px;
        position: static !important;
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100vw;


        h1 {
            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            padding-top: 53px;
            margin-bottom: 34px;
            margin-top: 0;
        }



        .current_page {
            position: relative;
            background-color: #ec1b23 !important;
            color: #fff !important;


            &::before {
                position: absolute;
                content: "";
                bottom: -5px;
                left: calc(50% - 6.3px);
                width: 9px;
                height: 9px;
                background-color: #fafafa;
                transform: rotate(-45deg);

            }
        }

        ul {
            margin-bottom: 60px;
            padding: 0 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            font-family: "NotoSansRegular";
            font-size: 14px;
            gap: 1.2%;
            height: auto !important;
            white-space: wrap !important;
            background-color: transparent !important;
            border-bottom: 0px solid #eee !important;

            .two_line {
                padding: 4px 0 !important;

            }

            li {
                padding: 11px 0;
                width: calc(50% - 5px);
                background-color: #fff;
                color: #8f8f8f;
                border: solid 1px #e7e7e7;
                line-height: 1.21;
                margin-right: 0 !important;
                margin-bottom: 1.2%;

                a {
                    padding: 0 5px !important;
                }
            }
        }


    }
}

// .basic {

//     background-color: #fafafa;
//     padding: 0 10px;


//     h1 {
//         font-family: "NanumBarunGothicBold";
//         font-size: 27px;
//         letter-spacing: -0.81px;
//         text-align: left;
//         color: #000;
//         padding-top: 53px;
//         margin-bottom: 34px;
//         margin-top: 0;
//     }


//     .list {
//         width: 100vw;

//         .item {
//             padding: 0 0;
//             list-style-type: none;
//             display: flex;
//             flex-wrap: wrap;
//             gap: 4vw;
//             width: 15vw;


//             .label {
//                 display: flex;
//                 justify-content: space-between;
//                 margin-top: 0;
//                 margin-bottom: 5px;
//                 margin-left: 0;
//                 margin-right: 0;

//                 div {
//                     font-size: 14px;
//                     margin-top: 0;
//                     margin-bottom: 0;
//                     margin-left: 0;
//                     margin-right: 0;

//                 }

//                 input {
//                     margin-top: 0;
//                     margin-bottom: 0;
//                     margin-left: 0;
//                     margin-right: 0;
//                 }
//             }
//         }

//         img {
//             width: 100%;
//             margin-bottom: 7px;
//         }

//         .download {
//             display: flex;
//             padding: 0 0;
//             list-style-type: none;
//             gap: 7px;
//             margin-bottom: calc(35px - 4vw);

//             .active {
//                 background-color: #EC1B23 !important;
//             }

//             a {
//                 padding: 6px 0;
//                 flex: 1;
//                 text-align: center;
//                 background-color: #c7c7c7;
//                 color: #fff;
//                 font-size: 12px;

//             }
//         }
//     }
// }



@media screen and (max-width:480px) {
    body {
        overflow-x: hidden;
    }

    .only_mob {
        display: block;
    }

    .mg_05 {
        margin: 0 0 !important;
    }

    .only_wide {
        display: none;
    }


    .bd_red {
        border: 1px solid #EC1B23 !important;
    }

    .bg_fff {
        background-color: #fff !important;
    }

    .font_red {
        color: #EC1B23 !important;
    }

    .content {
        padding-left: 0;
        padding-top: 0;
        position: relative;
        background-color: #fafafa;
    }

    .menu {
        display: none;
    }

    .side-menu {
        display: none;
    }

    .header {
        display: none;
    }

    .header {
        padding: 0 10px;
        height: auto;
        border-bottom: 0px solid #ec1b23;
        min-width: 0;



        h1 {
            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            margin-bottom: 36px;
            margin-top: 0;
            padding-top: 53px;

            //margin-bottom:9.6vw
        }

        .downloads {
            margin: 0 auto;
            width: 94.6vw;
            height: auto;
            border: 1px solid #BFBFBF;
            background-color: #FAFAFA;
            padding: 10.7vw 9.5vw;


            a {

                line-height: inherit;
                display: block;
                padding: 20px 0;
                width: auto;
                height: auto;
                border-radius: 59px;
                background-color: #EC1B23;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: 0;
                font-family: "NotoSansBold";
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.03em;
                text-align: center;
                color: #FFF;
                background-image: none !important;



                &:last-child {
                    margin-bottom: 0;
                }

            }

            .file_download {
                p {
                    position: relative;
                    display: inline-block;
                    margin: 0 0;
                    transform: translateX(14px);


                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/CI_01.png);
                        top: 0px;
                        left: -30px;

                    }
                }
            }

            .font_download {
                p {
                    position: relative;
                    display: inline-block;
                    margin: 0 0;
                    transform: translateX(14px);

                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/CI_02.png);
                        top: 0;
                        left: -30px;

                    }
                }
            }

            .ci_download {
                padding: 20px 0 !important;
                height: auto !important;
                margin-top: 0 !important;
                margin-bottom: 10px !important;
                margin-left: auto !important;
                margin-right: 0 !important;
                line-height: 20px !important;
                border-radius: 59px !important;
                background-color: #ffffff !important;
                display: block !important;
                color: #ec1b23 !important;
                border: 1px solid #ec1b23 !important;
                letter-spacing: -0.03em !important;
                background-image: none !important;

                p {
                    position: relative;
                    display: inline-block;
                    margin: 0 0;
                    transform: translateX(14px);

                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/CI_03.png);
                        top: 0;
                        left: -30px;
                    }
                }

            }

        }
    }


    .organ {
        .current_page {
            background-color: #ec1b23 !important;
        }

        background-color: #fafafa;
        padding: 0 10px;

        h1 {

            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            padding-top: 53px;
            margin-bottom: 37px;
            margin-top: 0;
        }




        .organ_ul {
            list-style: none;
            padding: 0 0;


            .organ_box {
                border: solid 1px #bfbfbf;
                margin-bottom: 20px;
                background: #fff;

                li {
                    padding: 14px 8.5vw;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #eee;


                    p {

                        font-size: 14px;
                        margin-top: 6px;
                        margin-bottom: 6px;

                    }

                    .organ_button {
                        font-family: "NanumBarunGothicRegular";
                        font-size: 14px;
                        flex-grow: 0;
                        margin: 0 0;
                        padding: 8px 30px;
                        background-color: #c7c7c7;
                        color: #fff;


                    }
                }
            }

            li {
                padding: 14px 8.5vw;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #eee;


                p {
                    font-size: 14px;
                    margin-top: 6px;
                    margin-bottom: 6px;
                }

                .organ_button {
                    font-family: "NanumBarunGothicRegular";
                    font-size: 14px;
                    flex-grow: 0;
                    margin: 0 0;
                    padding: 8px 30px;
                    background-color: #c7c7c7;
                    color: #fff;


                }
            }
        }
    }

    .tab-menu {
        height: auto !important;
        background-color: #fafafa;
        padding: 0 10px;
        position: static !important;
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100vw;


        h1 {
            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            padding-top: 53px;
            margin-bottom: 34px;
            margin-top: 0;
        }



        .current_page {
            position: relative;
            background-color: #ec1b23 !important;
            color: #fff !important;


            &::before {
                position: absolute;
                content: "";
                bottom: -5px;
                left: calc(50% - 6.3px);
                width: 9px;
                height: 9px;
                background-color: #fafafa;
                transform: rotate(-45deg);

            }
        }

        ul {
            margin-bottom: 60px;
            padding: 0 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            font-family: "NotoSansRegular";
            font-size: 14px;
            gap: 2.2%;
            height: auto !important;
            white-space: wrap !important;
            background-color: transparent !important;
            border-bottom: 0px solid #eee !important;

            .two_line {
                padding: 4px 0 !important;

            }

            li {
                padding: 11px 0;
                width: calc(50% - 5px);
                background-color: #fff;
                color: #8f8f8f;
                border: solid 1px #e7e7e7;
                line-height: 1.21;
                margin-right: 0 !important;
                margin-bottom: 2%;

                a {
                    padding: 0 5px !important;
                }
            }
        }


    }

    .brand {
        padding: 0 10px;
        width: 100vw;

        .intro {
            color: #000;

            h2 {
                font-family: "NotoSansBold";
                font-size: 22px;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 2px;

            }



            p {
                font-family: "NotoSansRegular";
                font-size: 14px;
                margin-top: 0;
                margin-bottom: 40px;

                span {
                    background: transparent;
                }
            }
        }

        .purpose {
            h3 {
                position: relative;
                font-family: "NotoSansBold";
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 13px;


                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: -11px;
                    width: 4px;
                    height: 18px;
                    background-color: #ec1b23;
                }
            }

            p {
                font-family: "NotoSansLight";
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: -0.42px;
                text-align: left;
                color: #000;
                margin-top: 0;
                margin-bottom: 0px;


            }

            .mgb_20 {
                margin-bottom: 20px !important;
            }
        }

        .brand_system {
            h3 {
                position: relative;
                font-family: "NotoSansBold";
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 13px;


                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: -11px;
                    width: 4px;
                    height: 18px;
                    background-color: #ec1b23;
                }
            }

            p {

                font-family: "NotoSansLight";
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: -0.42px;
                text-align: left;
                color: #000;
                margin-top: 0;
                margin-bottom: 0;

            }

            .mgb_20 {
                margin-bottom: 20px;
            }
        }

        .corporate {
            img {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .direction {
            img {

                width: 100%;
                margin-bottom: 7px
            }

            h3 {
                position: relative;
                font-family: "NotoSansBold";
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 10px;
                margin-left: 13px;

                &::before {
                    position: absolute;
                    content: "";
                    top: 3px;
                    left: -11px;
                    width: 4px;
                    height: 18px;
                    background-color: #ec1b23;
                }
            }

            ul {
                margin: 0 0;
                padding: 0 0;
                list-style-type: none;
                font-size: 14px;

                li {
                    h4 {

                        font-size: 14px;
                        font-family: "NotoSansRegular";
                        line-height: 1.3;
                        color: #000;
                        margin-top: 0;
                        margin-right: 0;
                        margin-bottom: 10px;
                        margin-left: 0;

                    }

                    p {
                        font-family: "NotoSansLight";
                        font-size: 14px;
                        line-height: 1.5;
                        letter-spacing: -0.42px;
                        text-align: left;
                        color: #000;
                        margin-top: 0;
                        margin-bottom: 10px;
                        margin-left: 16px;

                    }

                    .no_rmargin {
                        padding-top: 10px;
                        margin-left: 0 !important;
                        margin-bottom: 20px;
                    }

                    .dir_img {
                        display: flex;
                        gap: 0;
                        flex-direction: column;

                        img {

                            width: 100%;
                            margin-bottom: 7px
                        }
                    }



                    .pd_top10 {
                        padding-top: 10px;
                    }
                }

                img {

                    width: 100%;
                    margin-bottom: 7px
                }
            }
        }

        .download {
            padding-top: 50px;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-bottom: 70px;

            p {
                display: block;
                width: 282px;
                height: 60px;
                padding-top: 20px;
                border-radius: 60px;
                background-color: #c7c7c7;
                text-align: center;
                font-family: "NotoSansBold";
                color: #fff;
                font-size: 14px;
                margin: 0 auto;

                &:hover {
                    background-color: #EC1B23;
                }
            }

            a {}
        }
    }


}


@media screen and (max-width:340px) {
    .tab-menu {
        word-break: keep-all;

        height: auto !important;
        background-color: #fafafa;
        padding: 0 10px;
        position: static !important;
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100vw;

        .two_line {
            padding: 4px 0 !important;

        }

        h1 {
            font-family: "NanumBarunGothicBold";
            font-size: 27px;
            letter-spacing: -0.81px;
            text-align: left;
            color: #000;
            padding-top: 53px;
            margin-bottom: 34px;
            margin-top: 0;
        }



        .current_page {
            position: relative;
            background-color: #ec1b23 !important;
            color: #fff !important;


            &::before {
                position: absolute;
                content: "";
                bottom: -5px;
                left: calc(50% - 6.3px);
                width: 9px;
                height: 9px;
                background-color: #fafafa;
                transform: rotate(-45deg);

            }
        }

        ul {
            margin-bottom: 60px;
            padding: 0 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            font-family: "NotoSansRegular";
            font-size: 14px;
            gap: 3%;

            height: auto !important;
            white-space: wrap !important;
            background-color: transparent !important;
            border-bottom: 0px solid #eee !important;


            li {
                padding: 11px 0;
                width: calc(50% - 5px);
                background-color: #fff;
                color: #8f8f8f;
                border: solid 1px #e7e7e7;
                line-height: 1.3;
                margin-right: 0 !important;
                margin-bottom: 3%;

                a {
                    padding: 0 10px !important;
                }
            }
        }


    }
}