@font-face {
  font-family: "NotoSansBold";
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSansMedium";
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "NotoSansRegular";
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url(../fonts/Cafe24Ssurround.ttf) format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url(../fonts/Cafe24SsurroundAir.ttf) format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansBlack";
  src: url(../fonts/NotoSansKR-Black.otf) format("opentype");
  font-style: normal;
  font-weight: 900;
}
