.flex_center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* font size */
.only_mob {
  display: none;
}

.only_wide {
  display: block;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  #outline {
    position: relative;
    margin: 0 auto;
    width: auto;
  }
  #outline #area_container {
    z-index: 10;
    width: 100vw !important;
    height: 100%;
    position: relative;
    clear: both;
    background: url(../images/common/container_bg.gif) repeat-y 196px 0;
  }
  #outline #area_container #area_section {
    width: 100% !important;
    padding: 0 0 !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 0;
    background: none !important;
  }
  #outline #area_container #area_section h2 {
    font-family: "NanumBarunGothicBold" !important;
    font-size: 27px !important;
    margin-bottom: 36px !important;
    height: auto !important;
    letter-spacing: -0.81px;
    text-align: left;
    color: #000;
  }
  #outline #area_container #area_section h3 {
    width: 100% !important;
  }
  #outline #area_container #area_section .area_jisa_businessdept {
    padding: 0 0 0 0 !important;
    font-size: 14px;
    margin-bottom: 10px !important;
    background: none !important;
  }
  #outline #area_container #area_section .area_jisa_businessdept h4 {
    top: 0 !important;
    position: relative;
    text-indent: 0px !important;
    overflow: visible;
    background: none !important;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: auto;
    height: auto;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin-right: 13.8666vw;
  }
  #outline #area_container #area_section .area_jisa_businessdept h4::after {
    position: absolute;
    content: "";
    top: 25%;
    right: -6.4vw;
    width: 1px;
    height: 10px;
    background: #ddd;
  }
  #outline #area_container #area_section .area_jisa_businessdept p {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    position: relative;
  }
  #outline #area_container #area_section .area_jisa_businessdept p::before {
    position: absolute;
    content: "";
    top: 35%;
    left: -4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #e40000;
  }
  #outline #area_container #area_section .area_jisa_businessdept .area_brdclasscode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 0 14px 5.3333vw;
  }
  #outline #area_container #area_section .area_jisa_businessdept .area_brdclasscode ul {
    margin-left: 0 !important;
  }
  #outline #area_container #area_section .area_jisa_businessdept .area_brdclasscode h4 {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    width: auto;
    height: auto;
    color: #e40000;
  }
  #outline #area_container #area_section .area_jisa_businessdept .area_brdclasscode .total {
    top: 0 !important;
    color: #e40000;
  }
  #outline #area_container #area_section .area_jisa_businessdept .area_brdclasscode .total.on {
    position: relative;
    left: 0;
  }
  #outline #area_container #area_section .area_jisa_businessdept .area_brdclasscode .total.on a {
    color: inherit !important;
    text-decoration: none !important;
  }
  #outline #area_container #area_section .area_jisa_businessdept .clearfix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  #outline #area_container #area_section .area_jisa_businessdept .clearfix li {
    background: none;
    padding-left: 0;
    min-width: auto;
    float: unset;
    line-height: inherit;
    margin: 0 0;
    margin-left: 6.4vw;
    position: relative;
  }
  #outline #area_container #area_section .area_jisa_businessdept .clearfix li::before {
    position: absolute;
    content: "";
    top: 35%;
    left: -4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #8f8f8f;
  }
  #outline #area_container #area_section .area_jisa_businessdept .clearfix li:last-child {
    gap: 0 !important;
  }
  #outline #area_container .area_search {
    border: 0px solid #fff;
    margin-bottom: 55px;
  }
  #outline #area_container .area_search .btn_search {
    font-family: "NanumBarunGothicBold";
    padding: 0 20px;
    width: auto !important;
    background-image: none;
    text-indent: 0;
    background-color: #e40000;
    color: #fff;
    font-size: 14px;
  }
  #outline #area_container .area_search .inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.6vw;
  }
  #outline #area_container .area_search .inline select {
    border: 1px solid #d5d5d5;
    height: auto !important;
    height: 35px !important;
    width: 186.4px;
  }
  #outline #area_container .area_search .inline input {
    width: 100%;
    margin-bottom: 5px;
    height: 35px;
  }
  #outline #area_container .area_movie .youtobe_player {
    max-width: none !important;
  }
  #outline #area_container .area_movie .detail .contents {
    margin: 10px 0 60px 0;
    padding: 10px;
    border: 1px solid #DEDEDE;
    height: 220px;
    overflow: auto;
    font-family: "NanumBarunGothicRegular";
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.42px;
    text-align: center;
    color: #000;
  }
  #outline #area_container .area_movie .detail table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  #outline #area_container .area_movie .detail table td {
    padding-left: 0px !important;
    line-height: 1.5 !important;
    font-size: 14px !important;
    color: #000 !important;
    width: auto !important;
  }
  #outline #area_container .area_movie .detail table tr .subject {
    color: #000 !important;
  }
  #outline #area_container .area_movie .detail table tr th {
    font-family: "MalgunGothic";
    font-size: 13px !important;
    font-weight: 700;
    height: 37px !important;
    position: relative;
    padding-right: 1vw;
    background: none !important;
  }
  #outline #area_container .area_movie .detail table tr th::after {
    position: absolute;
    content: "";
    top: 32%;
    right: 3px;
    width: 1px;
    height: 13px;
    background: #666;
  }
  #outline #area_container .area_movie .detail table tr td {
    font-family: "MalgunGothic";
    font-size: 13px !important;
    font-weight: normal;
    color: #666 !important;
    height: auto !important;
  }
  #outline #area_container .area_movie .detail table tr td:first-child {
    padding-bottom: 10px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  #outline #area_container .area_movie .list {
    position: static;
  }
  #outline #area_container .area_movie .list .pagenation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 10px;
  }
  #outline #area_container .area_movie .list .pagenation p {
    font-family: "NanumBarunGothicRegular";
    font-size: 14px;
    text-align: left;
    color: #656565;
  }
  #outline #area_container .area_movie .list .movie_list {
    border-bottom: 0px solid #DEDEDE !important;
  }
  #outline #area_container .area_movie .list .movie_list li .sub_tit {
    font-family: "NanumBarunGothicBold";
    font-size: 14px;
    text-align: left;
    color: #656565;
  }
  #outline #area_container .area_movie .list .movie_list li p {
    text-indent: 0ch;
    text-align: left !important;
  }
  #outline #area_container .area_movie .list .movie_list li a {
    font-family: "NanumBarunGothicRegular";
    font-size: 14px;
    text-align: left;
    color: #656565;
  }
  #outline #area_container .area_movie .list .movie_list li.on a {
    font-family: "NanumBarunGothicRegular";
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #656565;
  }
  #outline #area_container .area_movie .list .area_page {
    margin-bottom: 70px;
  }
  #outline #area_container .area_movie .list .area_page ul li {
    font-size: 14px !important;
  }
  #outline #area_container .area_movie .list .area_page ul li .current_page {
    color: #e40000;
  }
  #outline #area_container .area_movie .list .area_page ul li a {
    color: #000;
  }
}