@charset "UTF-8";
@import 'mixset.scss';

.flex_center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* font size */
:root {
    --swiper-theme-color: $color_ft_777;
}

/* 메인페이지 공통 사항  */
.page_main {
    width: 100%;
    background-color: #fff;
    padding-top: 0;

    .contents {
        margin-top: 112px;

    }
}

.page_main .swiper .swiper-pagination-progressbar {
    background: #ddd;
}

.page_main .swiper img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #777;
}

.page_main .inner {
    width: 120rem;
    margin: 0 auto;
}

.page_main .section {
    float: unset;
    margin-left: unset;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.page_main .section .section_title {
    display: block;
    width: 100%;
    height: 4.1rem;
    font-size: 4rem;
    line-height: 3rem;
    background: unset;
    text-align: left;
    margin-top: 0;
}

.page_main .section .section_title b {
    font-family: $font_bold;
}

.page_main .btn_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 4.8rem;
    font-size: 1.8rem;
    border-radius: 2.5rem;
    font-family: $font_medium;
    text-align: center;
}

.page_main .btn_round.lined {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

// .page_main {
//     /* 메인 비주얼 */
//     /* API 현황 영역 */
//     /* 서비스 소개 영역 */
//     /* 민관 융합 영역 */
//     /*  하단 영역  */
//     /* 하단 영역 좌측 게시판 영역 */
//     /* 하단 영역 우측 프로모션 슬라이드 영역 */
// }

.page_main .main_visual {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-image: url("../../public/img/main/bg_hero.png");


    .main_cont_wrap.inner {
        display: flex;
        align-items: center;
        position: relative;
        height: 60rem;
        // margin-top: 112px;
    }

    .box_txt {
        text-align: center;
        margin-left: 15.5rem;
    }

    h3 {
        font-size: 2.8rem;
        line-height: 3.8rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 4rem;
        font-family: $font_bold;
        margin-bottom: 3rem;
    }

    h4 {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .main_visual_anchor {
        font-family: $font_medium;
        margin: 0 auto;
        border-color: #fff;
        background-color: #1953d5;
        color: $color_white;
        margin: 0 auto;
        margin-top: 3rem;
    }
}

.page_main .section_introduce {
    width: 100%;
    // height: 65.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #111;
    background-image: url("../../public/img/main/bg_introduce.png");
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
}

.page_main .section_introduce .wrap_box_service {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    width: 100%;
}

.page_main .section_introduce .box_service {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 2rem;
    border: 1px solid #fff;
    background-color: #fff;
    width: 28.2rem;
    height: 26rem;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.14);
}

.page_main .section_introduce .box_service .service_logo {
    width: 100%;
    height: 5.1rem;
}

.page_main .section_introduce .box_service .service_logo img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    margin: auto;
}

.page_main .section_introduce .box_service h3 {
    height: 5rem;
    margin-top: auto;
    text-align: center;
    font-size: 1.8rem;
    font-family: $font_bold;
    word-break: keep-all;
}

.page_main .section_introduce .box_service .btn_round {
    width: 10rem;
    height: 3.2rem;
    color: #111;
    font-size: 1.4rem;
    border: 1px solid #ddd;
}

.page_main .section_current {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-image: url("../../public/img/main/bg_current.png");
}

.page_main .section_current .wrap_box_current {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;

    .box_current {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 26%;
        height: 9rem;

        h3 {
            font-size: 1.8rem;
            text-align: center;
            font-family: $font_bold;
        }

        h4 {
            text-align: right;
            font-size: 2.8rem;

            .count_num {
                font-size: 3.6rem;
                margin-right: 2rem;
            }
        }

    }
}



/* -----------------------------추가 시작----------------------------- */
/* 서비스 소개 영역 */
.page_main .section_introduce .box_service_title {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 6rem 0;
}

.page_main .section_introduce .box_service_title h2 {
    line-height: 1.25;
}

.page_main .section_introduce .box_service .status_badge {
    width: 100%;
    display: flex;


    align-items: center;
    margin-bottom: 2rem;
}

.page_main .section_introduce .box_service .status_badge .service_status {
    display: block;
    padding: 0.7rem 1.3rem;
    border-radius: 16px;
    margin-right: 1rem;
    font-size: 1.4rem;
}

.page_main .section_introduce .box_service .status_badge .closed {
    background-color: #f4f4f4;
    color: #515151;
}

.page_main .section_introduce .box_service .status_badge .opened {
    background-color: #edf2fc;
    color: #1247be;
}

/* .page_main .section_introduce .box_service .status_badge .new_api {
  background-color: #1247be;
  color: #fff;
  font-size: 1.3rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px; 
  text-align: center;
  line-height: 18px;  
} */
.page_main .section_introduce .box_service h3 {
    margin-top: 2.6rem;
    line-height: 1.1;
}

.page_main .section_introduce .box_service:hover {
    border: 1px solid #1247be;
    transition: all 0.3s;
}

.page_main .section_introduce .box_service .btn_round:hover {
    border: 1px solid #1247be;
    background-color: #1247be;
    color: #fff;
    transition: all 0.3s;
}

.page_main .section_introduce .box_service_title:hover {
    border: none;
}

/* API현황 영역 */
.page_main .section_current {

    .inner {
        padding: 7rem 0 7rem 0;

        .section_title {
            font-size: 4.5rem;
            text-align: center;
            margin-bottom: 7rem;
        }
    }

    .wrap_box_current .bar_line {
        display: flex;
        width: 0.1rem;
        background-color: #808090;
    }

}


/* 하단 영역 */
/* 민관 융합 슬라이드 영역 */
.page_main .section_bottom {
    width: 100%;
    padding-bottom: 9.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../public/img/main/bg_integrate.png");
}

.page_main .section_bottom .section_integrate {
    position: relative;
    padding: 7.8rem 0;

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev,
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after,
    .swiper-notification {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }

    .wrap-slide-box {
        position: absolute;
        left: 30px;
        top: 0;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 0;
        left: 40px;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 5px;
    }

}

.page_main .section_bottom .section_integrate .section_title {
    text-align: center;
    margin-bottom: 6rem;
}

.page_main .section_bottom .section_integrate .wrap_slide_row {
    width: 100%;
    position: relative;
}

.page_main .section_bottom .section_integrate .wrap_slide_row .slide_row {
    position: relative;
    width: 126rem;
    margin: auto;
    overflow: visible;
}

.page_main .section_bottom .section_integrate .wrap_slide_row .swiper-wrapper {
    width: 120rem;


    display: flex;
    gap: 3.2rem;
}

.page_main .section_bottom .section_integrate .wrap_slide_row .box_circle {
    position: relative;
    width: 14rem;
    height: 14rem;
    background-color: #fff;
    border-radius: 2.4rem;
    box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.18);
}

.page_main .section_bottom .section_integrate .wrap_slide_row .box_circle img {
    width: 11rem;
    height: auto;
    margin: auto;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.page_main .section_bottom .section_integrate .btn_round {
    font-family: $font_medium;
    margin: 0 auto;
    margin-top: 4rem;
    border-color: #1953d5;
    background-color: #1953d5;
    color: #fff;
}

.page_main .section_bottom .section_announce .inner {


    display: flex;


    justify-content: space-between;
    gap: 2.4rem;
}

/* 게시판, 배너 영역 */
// .page_main .wrap_board {
//     position: relative;
//     width: 79rem;
//     height: 28rem;
//     margin-right: 2rem;
//     padding-top: 3rem;
//     border-top: 1px solid #111;
// }

// .page_main .wrap_board .tab_btn_list {
//     position: relative;
//     display: flex;
//     justify-content: flex-start;
//     width: 100%;
//     margin-bottom: 1.2rem;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item {
//     display: table;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
//     position: relative;
//     font-size: 2.4rem;
//     line-height: 1;
//     margin-right: 2.9rem;
//     color: #aaa;
//     font-family: $font_bold;
//     display: table-cell;
//     vertical-align: top;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor.on {
//     color: #111;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor.on::after {
//     content: "";
//     display: block;
//     position: absolute;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 100%;
//     width: 100%;
//     height: 3px;
//     bottom: -1.3rem;
//     left: 0;
//     background-color: #111;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor.on:focus-visible::after {
//     visibility: hidden;
//     outline: none;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item .board_btn_view {
//     display: block;
//     position: absolute;
//     z-index: 10;
//     top: 0;
//     right: 0;
//     width: 80px;
//     font-size: 1.8rem;
//     background-repeat: no-repeat;
//     background-position: right top 2px;
//     background-size: 8px 12px;
//     background-image: url(../../public/img/icons/icon_chevron_right_b2.png);
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item.notice.on .board_btn_view {
//     display: block;
// }

// .page_main .wrap_board .tab_btn_list .tab_btn_item.archive.on .board_btn_view {
//     display: block;
// }

// .page_main .wrap_board .tab_contents {
//     padding-top: 19px;
// }

// .page_main .wrap_board .board_list .board_item {


//     display: flex;


//     align-items: center;
//     width: 100%;
//     height: 3.5rem;
// }

// .page_main .wrap_board .board_list .board_item .post_title {
//     max-width: calc(100% - 95px);
//     justify-items: center;
//     align-items: center;
// }

// // .page_main .wrap_board .board_list .board_item .post_title .post_title_anchor {
// //     display: inline-block;
// //     max-width: calc(100% - 100px);
// // }

// .page_main .wrap_board .board_list .board_item .post_title .post_title_anchor:hover {
//     color: #1247be;
// }

// // .page_main .wrap_board .board_list .board_item .badge.new {
// //     position: relative;
// //     margin-left: 10px;
// //     top: 2px;
// // }

// .page_main .wrap_board .board_list .board_item .board_date {
//     color: $color_ft_777;


//     justify-content: flex-end;
//     text-align: right;
//     width: 80px;
//     font-size: 1.6rem;
//     margin-left: auto;
// }

/* 하단 영역 좌측 게시판 영역 */
// wrap_tabs -  게시판 공통 레이아웃 + 스타일
.wrap_board {
    // position: relative;
    // // width: 100%;
    // height: 28rem;
    // padding: 2.9rem;
    // @include b_ddd();
    // border-radius: 2rem;
    position: relative;
    max-width: 79.2rem;
    height: 28rem;
    padding-top: 3rem;
    padding-right: 2rem;
    border-top: 1px solid #111;

    .board_btn_view {
        display: block;
        position: absolute;
        z-index: 10;
        display: none;
        top: 3.2rem;
        right: 2.9rem;
        width: 80px;
        font-size: 1.8rem;
        // padding-right: 8px;
        background-repeat: no-repeat;
        background-position: right top 2px;
        background-size: 8px 12px;
        background-image: url("../../public/img/icons/icon_chevron_right_b2.png");

        &.on {
            display: block;
        }
    }

    // tab buttons
    .tab_btn_list {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        // height: 3.6rem;
        margin-bottom: 1.2rem;

        .tab_btn_item {
            display: table;

            .tab_btn_anchor {
                position: relative;
                font-size: 2.4rem;
                line-height: 1;
                margin-right: 2.9rem;
                color: $color_ft_aaa;
                font-family: $font_bold;
                display: table-cell;
                vertical-align: top;
                cursor: pointer;
                //  &:focus-visible {
                //      visibility: hidden;
                //     // &::after {
                //     // }
                // }
            }

            .tab_btn_anchor.on {
                color: $color_black;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    width: 100%;
                    height: 3px;
                    bottom: -1.3rem;
                    left: 0;
                    background-color: $color_blue;
                }

                // &:focus-visible {

                //     // &:focus {
                //     &::after {
                //         visibility: hidden;
                //         outline: none;
                //     }
                // }
            }

            // &.active {
            // }
        }
    }

    //  tab contents
    .tab_contents {
        padding-top: 19px;

        &.notice {
            &.on {
                .board_btn_view {
                    display: block;
                }
            }
        }

        &.archive {
            &.on {
                .board_btn_view {
                    display: block;
                }
            }
        }
    }

    .board_list {

        .board_item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 3.5rem;

            .post_title {
                max-width: calc(100% - 95px);
            }

            .badge.new {
                margin-left: 10px;
                top: -1px;
            }

            .board_date {
                color: $color_ft_777;
                justify-content: flex-end;
                text-align: right;
                width: 80px;
                font-size: 1.6rem;
                margin-left: auto;
            }
        }
    }
}



.page_main .section_promotion {
    position: relative;
    width: 38.4rem;
    height: 28rem;
    border-radius: 2rem;
    overflow: hidden;
}

.page_main .section_promotion .wrap_slide_promotion {
    position: relative;
    width: 100%;
    height: 100%;
}

.page_main .section_promotion .slide_promotion {
    position: relative;
    width: 100%;
    // height: 100%;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide {
    border-radius: 30px;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide img {
    position: relative;
    -o-object-fit: contain;
    object-fit: contain;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide.slide_01 .slide_promotion_anchor {
    background-image: url("../../public/img/main/m_bg_event_01.png");
    background-position: bottom right;
    background-size: cover;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .slide_promotion_anchor {
    width: 100%;
    // height: 100%;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .box_txt {
    padding-left: 4rem;
    padding-top: 3rem;
    color: #fff;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .badge_round {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 16px;
    width: 77px;
    height: 30px;


    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3rem;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide h4 {
    font-size: 22px;
    font-family: $font_bold;
    line-height: 1.5;
}

.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide h5 {
    font-size: 16px;
    margin-top: 14px;
}

.page_main .section_promotion .slide_controller {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 1.4rem;
    z-index: 3;
    color: #fff;
    width: 16.3rem;
    height: 3rem;
}

.page_main .section_promotion .slide_controller .controller_btns {


    display: flex;


    align-items: center;
    width: 100%;
    height: 3rem;
}

.page_main .section_promotion .slide_controller .controller_btn_item {
    display: flex;
    align-items: center;
}

.page_main .section_promotion .slide_controller .controller_box_state {
    justify-content: center;
    width: 7rem;
    height: 100%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #1f4085;
}

.page_main .section_promotion .slide_controller .controller_box_btn {
    width: 9.3rem;
}

.page_main .section_promotion .slide_controller .controller_box_btn button {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin-left: 0.1rem;
    background-color: #1f4085;
}

.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_prev::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 0.8rem;
    height: 1.2rem;
    background-image: url("../../public/img/icons/icon_chevron_left_wt.png");
}

.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_pause::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 0.8rem;
    height: 1.1rem;
    background-image: url("../../public/img/icons/icon_pause.png");
}

.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_pause.pausing::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 0.6rem;
    height: 1rem;
    background-image: url("../../public/img/icons/icon_play.png");
}

.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_next {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_next::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 0.8rem;
    height: 1.2rem;
    background-image: url("../../public/img/icons/icon_chevron_right_wt.png");
}

/* -----------------------------추가 끝----------------------------- */

@media all and (max-width: 1366px) {


    .page_main {

        .inner {
            width: 100%;
            padding: 0 2%;
        }

        .section_bottom .inner {
            // flex-direction: column;

            .wrap_board {
                max-width: unset;
                // width: calc(100% - 38.4rem);
                width: calc(100% - 408px);
                // width: 100%;
                // max-width: 100%;
            }

            .section_promotion {
                flex-shrink: 1;
            }
        }

        .section_introduce {
            .wrap_box_service {
                gap: 24px 2.6%;
            }

            .box_service {
                width: 23%;
            }
        }
    }


}


@media screen and (max-width: 1200px) {

    .page_main .contents {
        margin-top: 0;
    }

}

@media screen and (max-width: 1024px) {

    .page_main {

        .inner {
            width: 100%;
            padding: 0 0;
        }

        .section {
            width: 100%;
            padding: 0 2%;

            &.section_integrate {
                padding: 0 0;

                .wrap_slide_row .mask_blur {
                    width: 100%;

                }
            }

            .main_visual {

                .main_cont_wrap.inner {
                    // display: flex;
                    // align-items: center;
                    // position: relative;
                    // width: 100%;
                    height: 40rem;
                }
            }

        }

        .section_introduce {
            .wrap_box_service {
                gap: 18px 2%;
            }

            .box_service {
                width: 32%;
            }
        }
    }

    /* 프로모션 영역 */

    .section_bottom .section_promotion {
        // width: 100%;
        // height: auto;
        padding: 0 0;
        margin-bottom: 0;

    }





}

@media all and (max-width: 768px) {

    .page_main {

        /* 메인페이지 공통 사항  */
        .inner {
            // width: 3.2rem;
            width: 100%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        /* API 현황 영역 */
        .section_current {

            .wrap_box_current {
                // flex-direction: column;
                gap: 1.5rem;
            }

            .box_current {
                // width: 100%;
                // height: 12rem;
                // border-radius: 1.4rem;
                // padding: 2.3rem;

                h4 {
                    font-size: 2.8rem;
                    // line-height: 1;

                    .count_num {
                        font-size: 3.2rem;
                        margin-right: 0.8rem;
                    }
                }
            }
        }

        .section_introduce {
            &.only_wide {
                display: block;
            }

            &.only_mob {
                display: none;
            }

            .wrap_box_service {
                gap: 16px 2%;
            }

            .box_service {
                width: 48%;
            }
        }

        /* 민관 융합 영역 */
        .section_integrate {
            .wrap_slide_row {
                position: relative;
                height: 24rem;
                padding-top: 3rem;

                .mask_blur {
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    z-index: 3;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    &::before {
                        width: 4.5rem;
                        left: 0;
                    }

                    &::after {
                        width: 4.5rem;
                        right: 0;
                    }

                }

                .slide_row {
                    position: relative;
                    width: 100%;
                    margin: auto;
                }

                .swiper-wrapper {
                    gap: 1rem;
                }

                // swiper-slide
                .box_circle {
                    width: 10rem;
                    height: 10rem;

                    img {
                        max-width: 9.5rem;
                        height: 1.6rem;
                    }
                }
            }

            .btn_round {

                margin-top: 3rem;
            }
        }

        /*  하단 영역  */

        // .section_bottom .inner {
        //     flex-direction: column;

        //     .wrap_board {
        //         width: 100%;
        //     }
        // }
        .section_bottom {
            .inner {
                flex-direction: column;
                gap: 1.5rem;
                margin-bottom: 8rem;

                .wrap_board {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    padding: 24px;

                    .tab_contents {
                        padding-top: 0;
                    }

                    .tab_btn_list .tab_btn_item {
                        .board_btn_view {
                            font-size: 14px;
                        }

                        .tab_btn_anchor {
                            font-size: 18px;
                        }

                    }

                    .board_list .board_item {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        margin-top: 2.5rem;

                        .post_title {
                            max-width: 100%;
                            font-size: 14px;
                        }

                        .board_date {
                            font-size: 14px;
                            text-align: left;
                            margin-left: unset;
                        }
                    }

                }
            }

            .section_promotion {
                margin: auto;
            }

            .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
                font-size: 18px;
            }

            .slide_promotion .swiper-wrapper .swiper-slide a {
                padding: 0;
            }


        }

    }

}

/* mobile 규격  ( 모바일 기기 _ 실 사이즈 480px 미만의 모든 디바이스 ) */
@media all and (max-width: 480px) {

    .page_main {

        /* 메인페이지 tag 공통 사항  */
        .inner {
            // width: 3.2rem;
            width: 100%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .section {
            margin-bottom: 6rem;

            .section_title {
                display: block;
                width: 100%;
                height: 2.1rem;
                margin-bottom: 4rem;
                background: unset;
                text-align: left;
                font-size: 2.2rem;
                line-height: 1;
                margin-bottom: 2.8rem;
            }
        }

        .btn_round {
            width: 12rem;
            height: 4rem;
            font-size: 1.6rem;
        }

        /* 메인 비주얼 */

        /* 메인 비주얼 */
        .main_visual {
            // margin-top: 12rem;
            // margin-top: 11.2rem;
            // width: 100%;
            // height: 100%;
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;
            // color: $color_white;
            // background-image: url(../../public/img/main/bg_hero.png);

            margin-top: 0;
            margin-bottom: 0;

            .box_txt {
                text-align: center;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            // h3 {
            //     font-size: 2.8rem;
            //     line-height: 3.8rem;
            //     margin-bottom: 2rem;
            // }

            // h2 {
            //     font-size: 4rem;
            //     font-family: $font_bold;
            //     margin-bottom: 4rem;
            // }

            // h4 {
            //     font-size: 1.8rem;
            //     line-height: 1.55;
            // }

            // .btn_round {
            //     margin: 0 auto;
            //     margin-top: 6rem;
            //     // margin-bottom: 14rem;
            // }


            h3 {
                font-size: 1.7rem;
                line-height: 1;
                margin-bottom: 1.8rem;
            }

            h2 {
                font-size: 2.8rem;
                margin-bottom: 2.6rem;
            }

            h4 {
                height: 53px;
                font-size: 1.3rem;
                line-height: 1.4;
                margin-top: 0;
            }

            .btn_round {
                width: 13.2rem;
                height: 3.8rem;
                margin-top: 6rem;
                // margin-bottom: 14rem;
                font-size: 1.5rem;

                &.lined {
                    margin-top: 2.7rem;
                    margin-bottom: 0;
                }
            }

        }


        /* 모바일 슬라이드 swiper */
        .swiper-container-horizontal>.swiper-pagination-progressbar,
        .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
            // width: 100%;
            width: calc(100% - 30px);
            padding: 0 15px;
            height: 4px;
            left: 15px;
            top: unset;
            bottom: -20px;
        }


        /* 서비스 소개 영역 */
        .section_introduce {
            position: relative;
            bottom: 0;

            &.only_wide {
                display: none;
            }

            &.only_mob {
                display: block;
                margin-bottom: 8rem;
            }

            .wrap_box_service {
                // display: flex;
                // width: 100%;
                flex-wrap: unset;
                gap: 1.45rem;
            }

            .box_service {
                // display: flex;
                // align-items: center;
                // flex-direction: column;
                // height: 14.1rem;
                flex-shrink: 0;
                width: 24rem;
                height: 17rem;
                // padding: unset;
                padding-top: 2.2rem;
                padding-bottom: 0;
                border-radius: 1.5rem;

                .service_logo {
                    width: 100%;
                    height: 2.4rem;

                    // img {
                    //     width: auto;
                    //     max-width: 100%;
                    //     height: auto;
                    //     max-height: 100%;
                    //     // object-fit: contain;
                    //     object-fit: scale-down;
                    //     margin: auto;
                    // }
                }

                h3 {
                    // text-align: center;
                    font-size: 1.6rem;
                    // font-family: $font_bold;
                    height: auto;
                    margin-bottom: 0;
                    margin-top: 2.3rem;
                }

                .btn_round {
                    position: absolute;
                    bottom: 2.5rem;
                    width: 10rem;
                    height: 3.2rem;
                    color: #111;
                    font-size: 1.4rem;
                    border: 1px solid $color_ddd;
                }
            }

            // .swiper-pagination {

            // }


            .swiper-pagination {
                z-index: 1;
            }

            .section_introduce {
                position: absolute;
                bottom: 30px;

                .swiper-pagination {
                    background-color: $color_ddd;
                }

                .swiper-notification {
                    color: $color_ft_777;
                    background-color: $color_ft_777;
                }
            }
        }

        /* 민관 융합 영역 */
        .section_integrate {
            .wrap_slide_row {
                position: relative;
                height: 20rem;
                padding-top: 3rem;
                padding-bottom: 0;

                .mask_blur {
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    z-index: 3;
                    top: 0;
                    // top: 50%;
                    left: 50%;
                    // transform: translate(-50%, -50%);
                    transform: translateX(-50%);
                    //  background-repeat: no-repeat;
                    //  background-position: center;
                    //  background-size: 100%;

                    // left: -15rem;

                    &::before {
                        // content: "";
                        // display: block;
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        // height: 100%;
                        // z-index: 2;
                        // background: linear-gradient(to right,
                        // #E0ECF7 50%,
                        // rgba(255, 255, 255, 0))
                        width: 4.5rem;
                        left: 0;
                        // background: linear-gradient(to right, #E0ECF7 30%, rgba(255, 255, 255, 0));
                    }

                    &::after {
                        width: 4.5rem;
                        right: 0;
                        // background: linear-gradient(to left, #E0ECF7 30%, rgba(255, 255, 255, 0));

                        // content: "";
                        // display: block;
                        // position: absolute;
                        // top: 0;
                        // right: -15rem;
                        // width: 30rem;
                        // height: 100%;
                        // z-index: 2;
                        // background: linear-gradient(to left,
                        //         #E0ECF7 50%,
                        //         rgba(255, 255, 255, 0))
                    }

                    // &::before {
                    //   content: "";
                    //   display: block;
                    //   position: absolute;
                    //   top: 0;
                    //   left: -15rem;
                    //   width: 30rem;
                    //   height: 100%;
                    //   z-index: 2;
                    //   background: linear-gradient(
                    //     to right,
                    //     #E0ECF7 50%,
                    //     rgba(255, 255, 255, 0)
                    //   )

                    // }

                    // &::after {
                    //   content: "";
                    //   display: block;
                    //   position: absolute;
                    //   top: 0;
                    //   left: -15rem;
                    //   width: 30rem;
                    //   height: 100%;
                    //   z-index: 2;
                    //   background: linear-gradient(
                    //     to left,
                    //     #E0ECF7 50%,
                    //     rgba(255, 255, 255, 0)
                    //   )
                    // }
                }

                .slide_row {
                    position: relative;
                    width: 100%;
                    margin: auto;
                }

                .swiper-wrapper {
                    // width: 100%;
                    // display: flex;
                    gap: 1rem;
                }

                // swiper-slide
                .box_circle {
                    // position: relative;
                    // background-color: $color_white;
                    // border-radius: 50%;
                    width: 7rem;
                    height: 7rem;

                    img {
                        // width: auto;
                        // height: auto;
                        // margin: auto;
                        // object-fit: scale-down;
                        // position: absolute;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        max-width: 6.5rem;
                        height: 1.6rem;
                    }
                }
            }

            // .wrap_swiper {
            // }
            .btn_round {
                width: 12rem;
                height: 4rem;
                font-size: 1.6rem;
                margin-top: 3rem;
                // border-radius: 50%;
                // font-family: $font_medium;
                // margin: 0 auto;
                // border-color: $color_blue;
                // background-color: $color_blue;
                // color: $color_white;

            }
        }

        /*  하단 영역  */
        .section_bottom {
            padding-top: 0;

            .inner {
                // width: 100%;
                // display: flex;
                // justify-content: space-between;
                flex-direction: column;
                gap: 1.5rem;
            }

            .wrap_board {
                height: auto;
                padding: 24px;

                .tab_contents {
                    padding-top: 0;
                }

                .tab_btn_list .tab_btn_item {
                    .board_btn_view {
                        font-size: 14px;
                    }

                    .tab_btn_anchor {
                        font-size: 18px;
                    }

                }

                .board_list .board_item {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    margin-top: 2.5rem;

                    .post_title {
                        max-width: 100%;
                        font-size: 14px;
                    }

                    .board_date {
                        font-size: 14px;
                        text-align: left;
                        margin-left: unset;
                    }
                }

            }

            .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
                font-size: 18px;
            }

            .slide_promotion .swiper-wrapper .swiper-slide a {
                padding: 0;
            }

            /* 프로모션 영역 */

            .section_promotion {
                width: 100%;
                height: auto;

            }
        }



    }
}

/* -----------------------------모바일 추가---------------------------- */

@media all and (max-width: 1366px) {
    .page_main .inner {
        height: auto;
    }

    .page_main .section {
        width: 100%;
        height: auto;
        padding: 6rem 3%;
    }

    .page_main .section_introduce {
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
        background-image: url("../../public/img/main/bg_introduce.png");
    }

    .page_main .section_introduce .wrap_box_service {
        margin: 0 auto;
        gap: 24px 2.6%;
    }

    .page_main .section_introduce .box_service {
        width: 23%;
    }

    .page_main .section_current {
        width: 100%;

        .inner {
            padding: 0;
        }

        .wrap_box_current {
            width: 100%;
            height: auto;
        }

        .box_current {
            width: 33.33%;
        }

    }

    .page_main .section_bottom {
        padding-top: 0;
        height: auto;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto;
        background-image: url("../../public/img/main/bg_integrate.png");
    }

    .page_main .section_bottom .section_integrate {
        height: auto;
        padding: 0 0;
        margin-bottom: 6rem;
    }

    // .page_main .section_promotion {
    //     position: relative;
    //     width: 50%;
    //     height: 28rem;
    //     border-radius: 2rem;
    //     overflow: hidden;
    // }

    .page_main .section_promotion .wrap_slide_promotion {
        position: relative;
        width: 100%;
        // height: 100%;

    }

    .page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide {
        border-radius: 30px;
    }

    .page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide img {
        position: relative;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide.slide_01 .slide_promotion_anchor {
        background-image: url("../../public/img/main/m_bg_event_01.png");
        background-position: bottom right;
    }

    .page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .slide_promotion_anchor {
        width: 100%;
        // height: 100%;
    }

    .page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .box_txt {
        padding-left: 4rem;
        padding-top: 3rem;
        color: #fff;
    }
}

@media screen and (max-width: 1024px) {
    .page_main .section {
        height: auto;
    }

    .page_main .section_bottom .section_announce {
        width: 100%;
        margin-bottom: 0;
    }

    .page_main .section_bottom .section_announce .inner {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .page_main .section_bottom .inner .wrap_board {
        width: 100%;
        margin: 0;
        margin-bottom: 4rem;
        // padding: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .page_main .section_introduce .wrap_box_service {
        gap: 18px 2%;
    }

    .page_main .section_introduce .box_service {
        width: 32%;
    }

    .page_main .section_current .box_current {
        width: 33.33%;
        padding: 0 4rem;
    }

    // .page_main .section_bottom .section_announce .section_promotion {
    //     position: relative;
    //     width: 100%;
    //     height: 28rem;
    //     border-radius: 2rem;
    //     overflow: hidden;
    // }

    // .page_main .section_bottom .section_announce .section_promotion .wrap_slide_promotion {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    // }

    // .page_main .section_bottom .section_announce .section_promotion .slide_promotion {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    // }

    // .page_main .section_bottom .section_announce .section_promotion .slide_promotion .swiper-wrapper .swiper-slide.slide_01 .slide_promotion_anchor {
    //     background-image: url(../../public/img/main/m_bg_event_01.png);
    //     background-position: bottom right;
    //     background-size: cover;
    // }
}

/* 작은 태블릿 가로 사이즈 ~ 모바일 기기 가로 사이즈 */
@media all and (max-width: 768px) {
    .page_main {
        /* 메인페이지 공통 사항  */
        /* API 현황 영역 */
        /* 민관 융합 영역 */
        /*  하단 영역  */
    }

    .page_main .main_visual .main_cont_wrap.inner {


        display: flex;


        align-items: center;
        justify-content: center;
        position: relative;
        height: auto;
        padding: 4rem 0;
    }

    .page_main .main_visual .box_txt {
        text-align: center;
        margin: 0;
    }

    /* API 현황 영역 */
    .page_main .section_current {

        // .wrap_box_current {
        //     gap: 1.5rem;
        // }

        .box_current {
            h3 {
                font-size: 16px;
            }

            h4 {
                font-size: 18px;

                .count_num {
                    font-size: 24px;
                    // margin-right: 0.8rem;
                }
            }
        }
    }


    .page_main .section_introduce .wrap_box_service {
        gap: 16px 2%;
    }

    .page_main .section_introduce .box_service {
        width: 48%;
    }

    .page_main .section_integrate .inner .section_title {
        margin-bottom: 0;
    }

    .page_main .section_integrate .inner {
        padding: 0;
    }

    .page_main .section_integrate .wrap_slide_row {
        position: relative;
        height: 24rem;
        padding-top: 0;
    }

    .page_main .section_integrate .wrap_slide_row .slide_row {
        position: relative;
        width: 100%;
        margin: auto;
    }

    .page_main .section_integrate .wrap_slide_row .swiper-wrapper {
        gap: 1rem;
    }

    .page_main .section_integrate .wrap_slide_row .box_circle {
        width: 10rem;
        height: 10rem;
    }

    .page_main .section_integrate .wrap_slide_row .box_circle img {
        max-width: 9.5rem;
        height: 1.6rem;
    }

    .page_main .section_integrate .btn_round {
        margin-top: 3rem;
    }

    .page_main .section_bottom {
        /* 프로모션 영역 */
    }

    .page_main .section_bottom .inner {
        flex-direction: column;
        gap: 1.5rem;
        // margin-bottom: 4rem;
    }

    // .page_main .section_bottom .inner .wrap_board {
    //     max-width: 100%;
    //     width: 100%;
    //     height: auto;
    //     padding: 24px;
    // }

    // .page_main .section_bottom .inner .wrap_board .tab_contents {
    //     padding-top: 0;
    // }

    // .page_main .section_bottom .inner .wrap_board .tab_btn_list .tab_btn_item .board_btn_view {
    //     font-size: 14px;
    // }

    // .page_main .section_bottom .inner .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
    //     font-size: 18px;
    // }

    // .page_main .section_bottom .inner .wrap_board .board_list .board_item {
    //     flex-direction: column;
    //     align-items: flex-start;
    //     gap: 5px;
    //     margin-top: 2.5rem;
    // }

    // .page_main .section_bottom .inner .wrap_board .board_list .board_item .post_title {
    //     max-width: 100%;
    //     font-size: 14px;
    // }

    // .page_main .section_bottom .inner .wrap_board .board_list .board_item .board_date {
    //     font-size: 14px;
    //     text-align: left;
    //     margin-left: unset;
    // }

    // .page_main .section_bottom .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
    //     font-size: 18px;
    // }

    .wrap_board {
        height: auto;
        padding: 24px;

        .board_btn_view {
            font-size: 14px;
        }

        .tab_contents {
            padding-top: 0;
        }

        .tab_btn_list .tab_btn_item {
            .tab_btn_anchor {
                font-size: 18px;
            }
        }

        .board_list .board_item {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            margin-top: 2.5rem;

            .post_title {
                max-width: 100%;
                font-size: 14px;
            }

            .board_date {
                font-size: 14px;
                text-align: left;
                margin-left: unset;
            }
        }

    }

    .page_main .section_bottom .slide_promotion .swiper-wrapper .swiper-slide a {
        padding: 0;
    }

    .page_main .section_bottom .section_promotion {
        width: 100%;
        height: auto;
    }
}

/* mobile 규격  ( 모바일 기기 _ 실 사이즈 480px 미만의 모든 디바이스 ) */
@media all and (max-width: 480px) {
    // .page_main {
    //     /* 메인페이지 tag 공통 사항  */
    //     /* 메인 비주얼 */
    //     /* 메인 비주얼 */
    //     /* 모바일 슬라이드 swiper */
    //     /* 서비스 소개 영역 */
    //     /* 민관 융합 영역 */
    //     /*  하단 영역  */
    // }

    .page_main .section_current .inner .section_title {
        font-size: 2.4rem;
    }

    .page_main .main_visual {
        margin-bottom: 5em;
    }

    .page_main .main_visual .main_cont_wrap.inner {
        height: 40.6rem;
    }

    .page_main .main_visual .box_txt {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page_main .main_visual h4 {
        font-size: 1.5rem;
    }

    .page_main .swiper-container-horizontal>.swiper-pagination-progressbar,
    .page_main .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
        bottom: 7rem;
    }

    .page_main .section_introduce {
        position: relative;
        height: auto;
        bottom: 0;
        margin-bottom: 0;
        padding-bottom: 8rem;
    }

    .page_main .section_introduce.only_wide {
        display: none;
    }

    .page_main .section_introduce.only_mob {
        display: block;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .page_main .section_introduce.only_mob .inner {
        padding-bottom: 6rem;
    }

    .page_main .section_introduce.only_mob .section_title {
        margin-bottom: 4rem;
    }

    .page_main .section_introduce .box_service {
        width: 24rem;
        height: 26rem;
    }

    .page_main .section_introduce .box_service .service_logo {
        height: 4.8rem;
    }

    .page_main .section_introduce .box_service h3 {
        margin-bottom: 1.4rem;
        margin-top: 2rem;
    }

    // .page_main .section_current .inner .section_title {
    //     font-size: 2.8rem;
    //     margin-bottom: 3rem;
    // }

    //     .page_main .section_current .wrap_box_current {
    //         gap: 0.5rem;
    //     }

    //     .page_main .section_current .box_current h4 {
    //         font-size: 2.2rem;
    //     }

    //     .page_main .section_bottom .section_integrate {
    //         margin-bottom: 12rem;
    //     }

    //     .page_main .section_integrate .inner {
    //         margin-bottom: 1rem;
    //     }
}